html
    head(lang="pl")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width;initial-scale=1;shrink-to-fit=no")
        title='Log In page'
    body
    
        form(method='POST' action="/")
            input(name="email" type="email" required='required')
            input(name="password" type="password" required="required")
            input(type="submit" value="Zaloguj się")